body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

#cover {
    width: 100%;
    object-fit: cover;
}

#para {
    width: 50%;
    display: flex;
}

#img {
    width: 50%;
    float: right;
}
